<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jp.dcworks.app.paiza_learn_track_web.mybatis.TasksMapper">

	<!-- tasks テーブルより task_types_id:1.paiza でグルーピングした学習時間（時）の合計を取得する。 -->
	<select id="findGroupBySumLearningHours" resultType="java.lang.Double">
		SELECT
			sum(learning_minutes) / 60
		FROM
			tasks
		WHERE
			task_types_id = 1
		GROUP BY
			task_types_id
		;
	</select>
</mapper>