<!DOCTYPE html>
<html lang="ja">

<!-- ======= Head ======= -->
<div th:replace="~{shoulder_fragment::head(title = '進捗管理 - 講座別進捗一覧')}"></div>

<body>

	<!-- ======= Header ======= -->
	<header id="header" class="header fixed-top d-flex align-items-center">

		<div class="d-flex align-items-center justify-content-between">
			<a href="index.html" class="logo d-flex align-items-center">
				<img src="/assets/img/logo.png" alt="">
				<span class="d-none d-lg-block">NiceAdmin</span>
			</a>
		</div><!-- End Logo -->

		<nav class="header-nav ms-auto">
			<ul class="d-flex align-items-center">

				<li class="nav-item d-block d-lg-none">
					<a class="nav-link nav-icon search-bar-toggle " href="#">
						<i class="bi bi-search"></i>
					</a>
				</li><!-- End Search Icon-->

			</ul>
		</nav><!-- End Icons Navigation -->

	</header><!-- End Header -->

	<main id="main" class="main">

		<div class="pagetitle">
			<h1>Home</h1>
		</div><!-- End Page Title -->

		<section class="section">
			<div class="row">
				<div class="col-lg-12">

					<div class="card">
						<div class="card-body">
							<h5 class="card-title">講座別進捗一覧（	山田 太郎）</h5>

							<!-- Table with stripped rows -->
							<table class="table table-striped">
								<thead>
									<tr>
										<th scope="col">講座ID.</th>
										<th scope="col">講座名</th>
										<th scope="col">レッスン名</th>
										<th scope="col">学習時間合計（時）</th>
										<th scope="col">学習時間実績（時）</th>
										<th scope="col">進捗率</th>
										<th scope="col">最終受講日</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="userProgressRates:${userProgressRatesDtoList}">
										<td scope="row" th:text="${userProgressRates.maxTasksId}">1</td>
										<td th:text="${userProgressRates.courseName}">Java入門編</a></td>
										<td th:text="${userProgressRates.lessonName}">Java入門編1:プログラミングを学ぶ</td>
										<td th:text="${userProgressRates.sumTotalLearningHours}">6.65</td>
										<td th:text="${userProgressRates.sumAchievedLearningHours}">6.65</td>
										<td th:text="${userProgressRates.taskProgressRate != null ? userProgressRates.taskProgressRate + '%' : ''}">100.00%</td>
										<td th:text="${#dates.format(userProgressRates.chapterLastAccessDatetime, 'yyyy-MM-dd')}">2016-05-25</td>
									</tr>
								</tbody>
							</table>
							<!-- End Table with stripped rows -->

						</div>
					</div>
				</div>
			</div>
		</section>

	</main><!-- End #main -->

	<!-- ======= Footer ======= -->
	<div th:replace="~{shoulder_fragment::footer}"></div>

</body>

</html>